.footer {
  background: #e5e5e5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer-title {
  font-size: 2.8rem;
}