* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
}

button, a {
  display: block;
  background: #efefef;
  border-radius: 5px;
  border: none;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 2rem;
  text-transform: capitalize;
}

button:hover, a:hover {
  opacity: .7;
  transition: opacity 300ms ease-in-out;
}

.message {
  font-size: 1.8rem;
  text-align: center;
}